
  
<div >
  <form class="form-control" [formGroup]="productForm" (ngSubmit)="onUpdate()">
    <div class="form-group">
      <label class="form-label">İsim</label>
      <input class="form-control" formControlName="name">
    </div>

    <div class="form-group">
      <label class="form-label">Soyisim</label>
      <input class="form-control" formControlName="surname">
    </div>
    
    <div class="form-group">
      <label class="form-label">Kimlik Numarası</label>
      <input class="form-control" formControlName="identityNumber">
    </div>

    <div class="form-group">
      <label class="form-label">Şehir</label>
      <input class="form-control" formControlName="city">
    </div>

    <div class="form-group">
      <label class="form-label">E-Posta</label>
      <input class="form-control" formControlName="eMail">
    </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Güncelle</button>
  </div>
  </form>
</div> 